<header>
  <nav>

        <!--<img src="resources/img/logo-white.png" alt="Omnifood logo" class="logo">-->
        <!--<img src="resources/img/logo.png" alt="Omnifood logo" class="logo-black">-->
        <ul class="main-nav js--main-nav">
          <li scrollTo scrollTargetSelector="#test-section"><a href="#">הפרופיל שלי</a></li>
          <li><a href="#">צור קשר</a></li>
          <li><a href="#">עמוד ראשי</a></li>
        </ul>
        <!--<a class="mobile-nav-icon js&#45;&#45;nav-icon"><i class="ion-navicon-round"></i></a>-->
  </nav>
</header>

