<div class="purchases-container">
  <div class="purchases">
    <div class="table-head-row">
      <div class="table-head-col">עסקה</div>
      <div class="table-head-col">עסקה</div>
      <div class="table-head-col">עסקה</div>
      <div class="table-head-col">עסקה</div>
    </div>
    <hr class="style13">
    <div class="purchase"
        *ngFor="let purchase of purchases">
          <div class="table-head-row">
            <div class="table-head-col">
                {{ purchase.deal }}
                <img src="{{ purchase.img }}" class="purchase-img" />
            </div>
            <div class="table-head-col">
              <div class="price-details">
                  <b>  מחיר: </b>
                  {{ purchase.price }}
              </div>
              <div class="price-details">
                  <b> גובה ההנחה: </b>
                  {{purchase.discount+  "%" }}
              </div>
              <div class="price-details">
                  <b> בעסקה זו חסכת: </b>
                  {{purchase.expires}}
              </div>
            </div>
            <div class="table-head-col">
              <div class="desc">
                  <b>  פרטי העסקה: </b>
                  {{ purchase.desc }}
              </div>
              <hr class="style13">
                <div class="phone-feature">
                  <i class="fa fa-phone my-icons icon-small" aria-hidden="true"></i>
                  {{purchase.phone + "     " }}
                </div>
            </div>
            <div class="table-head-col">
                <div class="expires">
                  <b>  בתוקף עד: </b>
                  {{ purchase.purchased}}
                </div>
              <br>
                <div class="purchased"
                *ngIf="purchase.purchased ; else toPurchase">
                  <i class="fa fa-check check-icon" aria-hidden="true"></i>
                </div>
                <ng-template #toPurchase>
                  <div class="btn-wrapper">
                    <a class="btn btn-full js--scroll-to-plans" href="#">לרכישה</a>
                  </div>
                </ng-template>
           </div>
          </div>
          <hr class="style13">
    </div>
  </div>
</div>
    <!--<table class="table">-->
      <!--<thead rowspan="6" class="thead-inverse">-->
      <!--<tr class="table-head-contant">-->
        <!--<th>עסקה</th>-->
        <!--<th>תמונה</th>-->
        <!--<th>עלות</th>-->
        <!--<th>הנחה</th>-->
        <!--<th>תוקף</th>-->
        <!--<th>נרכש</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<th scope="row">{{ purchase.deal }}</th>-->
        <!--<td><img src="{{ purchase.img }}" class="purchase-img"/></td>-->
        <!--<td>{{ purchase.price }}</td>-->
        <!--<td>{{ purchase.discount }}</td>-->
        <!--<td>{{ purchase.expires}}</td>-->
        <!--<td>{{ purchase.purchased }}</td>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->





