
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div #modalContent class="modal-content">
    <span class="close" (click)="onclickClose()">&times;</span>
    <div class="modal-inner">
      <div class="header-text"> הזן פרטים אישיים </div>
      <input
        name="txtUserName"
        type="email" maxlength="256"
        id="email"
        tabindex="1"
        autocomplete="off"
        placeholder=" כתובת מייל "
        class="textbox-field"
      >
      <input
        name="txtPassword"
        type="password" maxlength="256"
        id="password1"
        tabindex="1"
        autocomplete="off"
        placeholder=" סיסמא "
        class="textbox-field"
      >
      <input
        name="txtPassword"
        type="password" maxlength="256"
        id="password2"
        tabindex="1"
        autocomplete="off"
        placeholder=" אשר סיסמא "
        class="textbox-field"
      >
      <input type="radio" class="agreement" name="gender" value="regulations"> בעת ההרשמה אני מסכים לתקנון <br>
      <input type="radio" class="agreement" name="gender" value="sendMeMails"> אני מסכים לקבל תכנים שיווקיים ועדכונים על הנחות למייל

        <button
          type="submit"
          name="btnLogin"
          value=""
          id="btnSignIn"
          class="textbox-field orange-button"
          (click)="signup()"> הרשמה >
        </button>
      </div>
    </div>
  </div>

